@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed',
        sans-serif;
}

.test1 {
    background-color: hsl(263, 55%, 52%);
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: top;
}

.test2 {
    background-color: hsl(217, 19%, 35%);
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
}

.test3 {
    background-color: hsl(0, 0%, 100%);
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    color: hsl(210, 5%, 59%)
}

.test4 {
    background-color: hsl(219, 29%, 14%);
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
}

.test5 {
    background-color: hsl(0, 0%, 100%);
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    color: hsl(210, 5%, 59%);
}

h1 {
    margin-top: 1rem;
}

p {
    margin-top: 1rem;
}

img {
    border-radius: 50%;
    border: 2px solid hsl(0, 0%, 81%);
    height: 30px;
    width: 30px;
}

.profile {
    display: inline-block;
    margin-left: 1rem;
}

@media screen and (max-width: 2560px) and (min-width: 768px) {
    .test1 {
        grid-area: test1;
        padding: 1rem;
    }

    .test2 {
        grid-area: test2;
        padding: 1rem;
    }

    .test3 {
        grid-area: test3;
        padding: 1rem;
    }

    .test4 {
        grid-area: test4;
        padding: 1rem;
    }

    .test5 {
        grid-area: test5;
        padding: 1rem;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            'test1 test1 test1 test2 test5'
            'test1 test1 test1 test2 test5'
            'test3 test4 test4 test4 test5'
            'test3 test4 test4 test4 test5';
        gap: 0.1rem;
        margin: 5rem;
    }
}